body {
        background-color:#fffff5;
        margin:0;
        padding:0;
}
.main {
        padding:10px;
}
.footer {
        position:absolute;
        left:0;
        bottom:0;
        width:100%;
        text-align:center;
        color:#000000;
        font-size:15px;
}
.main a {
        background:#a0eeee;
        color:black;
        padding:14px 16px;
        text-decoration:none;
        border-radius:10px;
        -moz-border-radius:10px;
        -webkit-border-radius:10px;
        -o-border-radius:10px;
        -ms-border-radius:10px;
}
.main a:hover {
        background:#ffffa0;
}
.navigation {
        background-color: #888888;
        display:flex;
        align-items:strech;
}
.navigation a {
        color:#ffffff;
        text-decoration:none;
        line-height:40px; /* тяп-ляп */
        padding-right:10px;
        padding-left:10px;
}
.navigation a:hover {
        background-color:#eeeeee;
        color:#000000;
}
