body {
        background-color: #fffffb;
        margin: 0;
        padding: 0;
}
.main {
        text-align: center;
        padding: 10px;
}
.main_inner {
        max-width: 640px;
        display: inline-block;
        text-align: left;
}
.main_inner a {
        display: block;
        text-align: center;
        text-decoration: none;
        background: #eeffff;
        color: black;
        border: 1px solid gray;
        padding: 14px 16px;
        margin-bottom: 5px;
        border-radius: 10px;
}
.main_inner a:hover {
        background: #bbffff;
}
.navigation {
        background-color: #888888;
        display: flex;
        align-items: strech;
        justify-content: center;
}
.navigation a {
        color: #ffffff;
        text-decoration: none;
        line-height: 40px;
        padding-right: 10px;
        padding-left: 10px;
}
.navigation a:hover {
        background-color: #eeeeee;
        color: #000000;
}
.navigation a.T2 {
        display: none;
}
@media screen and (max-width: 550px) {
        .navigation a.T1 {
                display: none;
        }
        .navigation, .navigation.responsive, .navigation a.T2, .navigation.responsive a.T1 {
                display: block;
        }
        .navigation.responsive a, .navigation a.T2 {
                text-align: center;
        }
}
