body {
        background-color: #fffff5;
        margin: 0;
        padding: 0;
}
.main {
        padding: 10px;
}
.main_tablo {
        padding: 10px;
        text-align: center;
}
.tablo {
        /*display: inline-flex;
        flex-direction: column;*/

        margin: auto;
        width: fit-content;
        text-align: center;
}
.tablo a {
        /*display: flex;*/
        display: block;
        background: #eeffff;
        color: black;
        border: 1px solid gray;
        padding: 14px 16px;
        margin-bottom: 5px;
        justify-content: center;
        text-decoration: none;
        border-radius: 10px;
}
.tablo a:hover {
        background: #bbffff;
}
.navigation {
        background-color: #888888;
        display: flex;
        align-items: strech;
}
.navigation a {
        color: #ffffff;
        text-decoration: none;
        line-height: 40px; /* тяп-ляп */
        padding-right: 10px;
        padding-left: 10px;
}
.navigation a:hover {
        background-color: #eeeeee;
        color: #000000;
}
.navigation a.T2 {
        display: none;
}
@media screen and (max-width: 500px) {
        .navigation a.T1 {
                display: none;
        }
        .navigation, .navigation.responsive, .navigation a.T2, .navigation.responsive a.T1 {
                display: block;
        }
        .navigation.responsive a, .navigation a.T2 {
                text-align: center;
        }
}
